{% extends "common_code/base.html" %} {% block title %} My Skill {%endblock title%} {%block content%} {%load static%}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Education</h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
        Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical
      </p>
    </div>
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Front-End</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">75%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 75%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Django</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">60%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 60%"></div>
        </div>
      </div>

      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Database</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">55%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 55%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >React JS</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">80%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 80%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Tailwind</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">90%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 90%"></div>
        </div>
      </div>
    </div>
    <div class="p-4 lg:w-1/2 md:w-full">
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Photoshop</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">75%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 75%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Illustrator</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">70%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 70%"></div>
        </div>
      </div>

      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Bootstrap</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">90%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 90%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >C, C++, Python
          </span>
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">80%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 80%"></div>
        </div>
      </div>
      <div class="my-4">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-stone-900 bg-blue-300 px-3 py-1 rounded-lg"
            >Figma</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-stone-900">90%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-none h-2.5 dark:bg-slate-300">
          <div class="bg-blue-600 h-2.5 rounded-none" style="width: 90%"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock content%}
