{% extends "common_code/base.html" %}
{% block title %} My Projects {%endblock title %}
{%block content%}
{%load static%}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">My Projects</h1>
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">
        Lorem ipsum dolor sit amet consectetur.
      </h2>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="flex items-center justify-center">
          <div class="max-w-md w-full overflow-hidden">
            <div class="relative group">
              <img class="w-full h-auto transition duration-300 transform group-hover:scale-105"
                src="https://picsum.photos/100" alt="Background Image" />
              <div class="absolute inset-0 bg-black opacity-0 transition duration-300 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <div class="text-white text-center">
                    <h2 class="text-3xl font-semibold mb-2">Niharon Technologies</h2>
                    <p class="text-sm">Card Description goes here.</p>
                    <button
                      class="m-auto flex mt-3 text-white bg-slate-900 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                      Live Preview
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="flex items-center justify-center">
          <div class="max-w-md w-full overflow-hidden">
            <div class="relative group">
              <img class="w-full h-auto transition duration-300 transform group-hover:scale-105"
                src="https://picsum.photos/100" alt="Background Image" />
              <div class="absolute inset-0 bg-black opacity-0 transition duration-300 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <div class="text-white text-center">
                    <h2 class="text-3xl font-semibold mb-2">Ahoron BD</h2>
                    <p class="text-sm">Card Description goes here.</p>
                    <button
                      class="m-auto flex mt-3 text-white bg-slate-900 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                      Live Preview
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="flex items-center justify-center">
          <div class="max-w-md w-full overflow-hidden">
            <div class="relative group">
              <img class="w-full h-auto transition duration-300 transform group-hover:scale-105"
                src="https://picsum.photos/100" alt="Background Image" />
              <div class="absolute inset-0 bg-black opacity-0 transition duration-300 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <div class="text-white text-center">
                    <h2 class="text-3xl font-semibold mb-2">Mentorova</h2>
                    <p class="text-sm">Card Description goes here.</p>
                    <button
                      class="m-auto flex mt-3 text-white bg-slate-900 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                      Live Preview
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="flex items-center justify-center">
          <div class="max-w-md w-full overflow-hidden">
            <div class="relative group">
              <img class="w-full h-auto transition duration-300 transform group-hover:scale-105"
                src="https://picsum.photos/100" alt="Background Image" />
              <div class="absolute inset-0 bg-black opacity-0 transition duration-300 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <div class="text-white text-center">
                    <h2 class="text-3xl font-semibold mb-2">RGC Eye Hospital</h2>
                    <p class="text-sm">Card Description goes here.</p>
                    <button
                      class="m-auto flex mt-3 text-white bg-slate-900 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                      Live Preview
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div class="flex items-center justify-center">
          <div class="max-w-md w-full overflow-hidden">
            <div class="relative group">
              <img class="w-full h-auto transition duration-300 transform group-hover:scale-105"
                src="https://picsum.photos/100" alt="Background Image" />
              <div class="absolute inset-0 bg-black opacity-0 transition duration-300 group-hover:opacity-50">
                <div class="absolute inset-0 flex items-center justify-center">
                  <div class="text-white text-center">
                    <h2 class="text-3xl font-semibold mb-2">RGC Eye Hospital</h2>
                    <p class="text-sm">Card Description goes here.</p>
                    <button
                      class="m-auto flex mt-3 text-white bg-slate-900 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                      Live Preview
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock content%}